.caja1 {
  background-color: lightblue;
  border: 2px solid navy;
  margin: 10px;
  padding: 10px;
}

.caja2 {
  background-image: url("fondo.jpg");
  border: 2px dotted green;
  margin: 10px;
  padding: 10px;
}
